* {
	box-sizing: border-box;
}

html {
	font-family: sans-serif;
}

body {
	width: 960px;
	margin: 0 auto;
	position: relative;
}

h1 {
	text-align: center;
	margin: 19px;
}

.grand-reopening {
	background: red;
	color: yellow;
	position: absolute;
	top: 0;
	left: 100px;
	margin: 0;
}
 
ul { 
	list-style: none;
	padding: 0;
}

li {
	border: 2px solid black;
	float: left;
	height: 300px;
	position: relative; 
	width: 480px;
	}

	li h2 { 
		margin: 20px;
		position: absolute;
	}


	li h2, li .price, li img {
		position: absolute;
	} 

li h2, li .price {
	z-index: 1;
}
	

	.price {
		color: red;
		font-size: 3em;
	}

	.cheese .price {
		right: 0;
		z-index: 1;
	}

	.cheese img {
		bottom: 0;
	}


	.chicken h2 {
		bottom: 0;
		right: 0;
	}

	.fruit h2 {
		right: 0;
	}

	.bread h2, .bread .price {
		text-align: center;
		width: 100%
	}

	.bread .price {
		bottom: 0;
	}

